<md-dialog aria-label="Add Custom Set Dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add a custom set</h2>
            <span flex></span>
            <md-button ng-click="cancel()" class="md-icon-button">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-gt-sm="column" layout-padding>
        <form name="addCustomSetForm">

            <div layout-gt-xs="row">
                <md-input-container>
                    <label>Title</label>
                    <input ng-model="addCustomSetFormData.title" name="customSetNameInput">
                    <div ng-messages="addCustomSetFormData.customSetNameInput.$error" role="alert">
                        <p ng-message="failed">
                            Bad Custom Set Name!
                        </p>
                    </div>
                </md-input-container>
            </div>

        </form>
        </md-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" >
                Cancel
            </md-button>
            <md-button ng-click="submitAddCustomSetForm()" style="margin-right:20px;" >
                Submit
            </md-button>
        </md-dialog-actions>
</md-dialog>