<md-dialog aria-label="Add Thing Dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add a thing</h2>
            <span flex></span>
            <md-button ng-click="cancel()" class="md-icon-button">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-gt-sm="column" layout-padding>
        <thing-edit-form></thing-edit-form>
    </md-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()" >
            Cancel
        </md-button>
        <md-button ng-click="submitAddThingForm()" style="margin-right:20px;" >
            Submit
        </md-button>
    </md-dialog-actions>
</md-dialog>