<md-dialog aria-label="Add Thing Dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add a thing</h2>
        </div>
    </md-toolbar>
    <md-content layout-gt-sm="column" layout-padding>
        <form name="addThingForm">

            <div layout-gt-xs="row">
                <md-input-container>
                    <label>Parent Thing</label>
                    <th ng-repeat="descriptor in things.descriptorHeaders" md-column md-numeric md-order-by="calories.value" md-desc><span>{{descriptor.title}}</span></th>

                    <md-select name="type" ng-model="addThingFormData.parentThingId" required>
                        <md-option ng-repeat="thing in parentThings" value="{{thing.thingID}}">{{thing.title}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-input-container>
                <label>Title</label>
                <input ng-model="addThingFormData.title" name="thingNameInput">
                <div ng-messages="addThingFormData.thingNameInput.$error" role="alert">
                    <p ng-message="failed">
                        Bad Thing Name!
                    </p>
                </div>
            </md-input-container>

            <md-input-container>
                <md-checkbox ng-model="addThingFormData.isAbstract">
                    isAbstract
                </md-checkbox>
            </md-input-container>

        </form>
        </md-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" >
                Cancel
            </md-button>
            <md-button ng-click="submitAddThingForm()" style="margin-right:20px;" >
                Submit
            </md-button>
        </md-dialog-actions>
</md-dialog>