<html lang="en">
<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-http-auth/1.5.0/http-auth-interceptor.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">
    <script src="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>
    <script src="https://rawgit.com/jraadt/fixed-table-header/master/src/fixed-table-header.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-touch.js"></script>
    <style>
            body, md-content {
                background-color: #f5f5f5 !important;
            }

            body > md-toolbar {
                z-index: 3;
            }

            md-toolbar.md-table-toolbar.alternate {
                color: #1e88e5;
                background-color: #e3f2fd;
            }

            md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
                font-size: 16px;
            }

            md-virtual-repeat-container {
                height: 100%;
            }
        </style>
    <script type="text/javascript">
            var app = angular.module('basicUsageSidenavDemo', ['ngRoute', 'ngMaterial', 'ngMessages', 'md.data.table', 'fixed.table.header']).config(['$mdThemingProvider', function($mdThemingProvider) {
                'use strict';

                $mdThemingProvider.theme('default').primaryPalette('blue');
            }
            ]).controller('thingsController', function($mdDialog, $mdEditDialog, $q, $scope, $timeout, $window, $http, $location, userService, thingService, locationService) {
                'use strict';

                $scope.selected = [];

                $scope.things = [];
                $scope.loadThings = function() {
                    $http.get("api/things" + locationService.getQueryParams()).then(function(response) {
                        $scope.things = response.data;
                        <!--$scope.thingsLength.length=$scope.things.length-->
                    });
                }
                $scope.loadThings();

                $scope.showAddThing = function() {

                    var parentThingID = 1
                    if ($location.search()['thingID'] != null) {
                        parentThingID = $location.search()['thingID']
                    }
                    thingService.getAbstractThingAndParentAndChildren(parentThingID).then(function(response) {
                        $mdDialog.show({
                            templateUrl: 'addThingDialog.html',
                            controller: 'AddThingDialogCtrl',
                            locals: {
                                parentThings: response.data,
                                firstParentThingId: parentThingID
                            }
                        })
                        .finally(function() {
                          $http.get("api/things" + locationService.getQueryParams()).then(function(response) {
                              $scope.things = response.data;
                          });
                        });
                    });
                };

                $scope.showThing = function(thingID) {

                    thingService.getThing(thingID).then(function(response) {
                        $mdDialog.show({
                            templateUrl: 'thingDialog.html',
                            controller: 'ThingDialogCtrl',
                            locals: {
                                thing: response.data
                            }
                        })
                        .finally(function() {
                          $http.get("api/things" + locationService.getQueryParams()).then(function(response) {
                              $scope.things = response.data;
                          });
                        });
                    });
                };

  $scope.limitOptions = [5, 10, 15];

  $scope.options = {
    rowSelection: true,
    multiSelect: true,
    autoSelect: true,
    decapitate: false,
    largeEditDialog: false,
    boundaryLinks: false,
    limitSelect: true,
    pageSelect: true
  };

  $scope.query = {
    order: 'name',
    limit: 5,
    page: 1
  };

  $scope.editComment = function (event, dessert) {
    event.stopPropagation(); // in case autoselect is enabled

    var editDialog = {
      modelValue: dessert.comment,
      placeholder: 'Add a comment',
      save: function (input) {
        if(input.$modelValue === 'Donald Trump') {
          input.$invalid = true;
          return $q.reject();
        }
        if(input.$modelValue === 'Bernie Sanders') {
          return dessert.comment = 'FEEL THE BERN!'
        }
        dessert.comment = input.$modelValue;
      },
      targetEvent: event,
      title: 'Add a comment',
      validators: {
        'md-maxlength': 30
      }
    };

    var promise;

    if($scope.options.largeEditDialog) {
      promise = $mdEditDialog.large(editDialog);
    } else {
      promise = $mdEditDialog.small(editDialog);
    }

    promise.then(function (ctrl) {
      var input = ctrl.getInput();

      input.$viewChangeListeners.push(function () {
        input.$setValidity('test', input.$modelValue !== 'test');
      });
    });
  };

  $scope.toggleLimitOptions = function () {
    $scope.limitOptions = $scope.limitOptions ? undefined : [5, 25, 50];
  };

  $scope.loadStuff = function () {
    $scope.promise = $timeout(function () {
      // loading
    }, 2000);
  }

  $scope.logItem = function (item) {
    console.log(item.thing.title, 'was selected');
  };

  $scope.logOrder = function (order) {
    console.log('order: ', order);
  };

  $scope.logPagination = function (page, limit) {
    console.log('page: ', page);
    console.log('limit: ', limit);
  }
            }).controller('descriptorTypesController', function($mdDialog, $mdEditDialog, $q, $scope, $timeout, $window, $http, $location, userService, descriptorTypeService, locationService) {
                'use strict';

                $scope.selected = [];

                $scope.descriptorTypes = [];
                $scope.loadDescriptorTypes = function() {
                    $http.get("api/descriptorTypes").then(function(response) {
                        $scope.descriptorTypes = response.data;
                    });
                }
                $scope.loadDescriptorTypes();

                $scope.showAddDescriptorTypes = function() {

                    descriptorTypeService.getDescriptorTypeTypes().then(function(response) {
                        $mdDialog.show({
                            templateUrl: 'addDescriptorTypeDialog.html',
                            controller: 'AddDescriptorTypeDialogCtrl',
                            locals: {
                                descriptorTypeTypes: response.data,
                            }
                        })
                        .finally(function() {
                            $http.get("api/descriptorTypes").then(function(response) {
                                $scope.descriptorTypes = response.data;
                            });
                        });
                    });
                };

  $scope.limitOptions = [5, 10, 15];

  $scope.options = {
    rowSelection: true,
    multiSelect: true,
    autoSelect: true,
    decapitate: false,
    largeEditDialog: false,
    boundaryLinks: false,
    limitSelect: true,
    pageSelect: true
  };

  $scope.query = {
    order: 'name',
    limit: 5,
    page: 1
  };

  $scope.editComment = function (event, dessert) {
    event.stopPropagation(); // in case autoselect is enabled

    var editDialog = {
      modelValue: dessert.comment,
      placeholder: 'Add a comment',
      save: function (input) {
        if(input.$modelValue === 'Donald Trump') {
          input.$invalid = true;
          return $q.reject();
        }
        if(input.$modelValue === 'Bernie Sanders') {
          return dessert.comment = 'FEEL THE BERN!'
        }
        dessert.comment = input.$modelValue;
      },
      targetEvent: event,
      title: 'Add a comment',
      validators: {
        'md-maxlength': 30
      }
    };

    var promise;

    if($scope.options.largeEditDialog) {
      promise = $mdEditDialog.large(editDialog);
    } else {
      promise = $mdEditDialog.small(editDialog);
    }

    promise.then(function (ctrl) {
      var input = ctrl.getInput();

      input.$viewChangeListeners.push(function () {
        input.$setValidity('test', input.$modelValue !== 'test');
      });
    });
  };

  $scope.toggleLimitOptions = function () {
    $scope.limitOptions = $scope.limitOptions ? undefined : [5, 25, 50];
  };

  $scope.loadStuff = function () {
    $scope.promise = $timeout(function () {
      // loading
    }, 2000);
  }

  $scope.logItem = function (item) {
    console.log(item.title, 'was selected');
  };

  $scope.logOrder = function (order) {
    console.log('order: ', order);
  };

  $scope.logPagination = function (page, limit) {
    console.log('page: ', page);
    console.log('limit: ', limit);
  }
            }).controller('comparatorsController', function($mdDialog, $mdEditDialog, $q, $scope, $timeout, $window, $http, $location, userService, comparatorService, locationService) {
                'use strict';

                $scope.selected = [];

                $scope.comparators = [];
                $scope.loadComparators = function() {
                    $http.get("api/comparators").then(function(response) {
                        $scope.comparators = response.data;
                    });
                }
                $scope.loadComparators();

                $scope.showAddComparators = function() {

                    $mdDialog.show({
                        templateUrl: 'addComparatorDialog.html',
                        controller: 'AddComparatorDialogCtrl'
                    })
                    .finally(function() {
                        $http.get("api/comparators").then(function(response) {
                            $scope.comparators = response.data;
                        });
                    });
                };

  $scope.limitOptions = [5, 10, 15];

  $scope.options = {
    rowSelection: true,
    multiSelect: true,
    autoSelect: true,
    decapitate: false,
    largeEditDialog: false,
    boundaryLinks: false,
    limitSelect: true,
    pageSelect: true
  };

  $scope.query = {
    order: 'name',
    limit: 5,
    page: 1
  };

  $scope.editComment = function (event, dessert) {
    event.stopPropagation(); // in case autoselect is enabled

    var editDialog = {
      modelValue: dessert.comment,
      placeholder: 'Add a comment',
      save: function (input) {
        if(input.$modelValue === 'Donald Trump') {
          input.$invalid = true;
          return $q.reject();
        }
        if(input.$modelValue === 'Bernie Sanders') {
          return dessert.comment = 'FEEL THE BERN!'
        }
        dessert.comment = input.$modelValue;
      },
      targetEvent: event,
      title: 'Add a comment',
      validators: {
        'md-maxlength': 30
      }
    };

    var promise;

    if($scope.options.largeEditDialog) {
      promise = $mdEditDialog.large(editDialog);
    } else {
      promise = $mdEditDialog.small(editDialog);
    }

    promise.then(function (ctrl) {
      var input = ctrl.getInput();

      input.$viewChangeListeners.push(function () {
        input.$setValidity('test', input.$modelValue !== 'test');
      });
    });
  };

  $scope.toggleLimitOptions = function () {
    $scope.limitOptions = $scope.limitOptions ? undefined : [5, 25, 50];
  };

  $scope.loadStuff = function () {
    $scope.promise = $timeout(function () {
      // loading
    }, 2000);
  }

  $scope.logItem = function (item) {
    console.log(item.title, 'was selected');
  };

  $scope.logOrder = function (order) {
    console.log('order: ', order);
  };

  $scope.logPagination = function (page, limit) {
    console.log('page: ', page);
    console.log('limit: ', limit);
  }
            }).controller('AppCtrl', function($scope, $mdDialog, $timeout, $mdSidenav, $log, $http, userService, $location, thingService) {

                $scope.user = {};
                $scope.user.loggedIn = false;

                $scope.toggleLeft = buildDelayedToggler('left');
                $scope.toggleRight = buildToggler('right');
                $scope.isOpenRight = function() {
                    return $mdSidenav('right').isOpen();
                }
                ;

                $scope.openLogin = function() {
                    $mdDialog.show({
                        templateUrl: 'loginDialog.html',
                        controller: 'LoginDialogCtrl',
                        locals: {
                            user: $scope.user
                        }
                    });
                }
                ;

                /**
                  * Supplies a function that will continue to operate until the
                  * time is up.
                  */
                function debounce(func, wait, context) {
                    var timer;

                    return function debounced() {
                        var context = $scope
                          , args = Array.prototype.slice.call(arguments);
                        $timeout.cancel(timer);
                        timer = $timeout(function() {
                            timer = undefined;
                            func.apply(context, args);
                        }, wait || 10);
                    }
                    ;
                }

                /**
                  * Build handler to open/close a SideNav; when animation finishes
                  * report completion in console
                  */
                function buildDelayedToggler(navID) {
                    return debounce(function() {
                        // Component lookup should always be available since we are not using `ng-if`
                        $mdSidenav(navID).toggle().then(function() {
                            $log.debug("toggle " + navID + " is done");
                        });
                    }, 10);
                }

                function buildToggler(navID) {
                    return function() {
                        // Component lookup should always be available since we are not using `ng-if`
                        $mdSidenav(navID).toggle().then(function() {
                            $log.debug("toggle " + navID + " is done");
                        });
                    }
                    ;
                }
            }).controller('LeftCtrl', function($scope, $timeout, $mdSidenav, $log) {
                $scope.close = function() {
                    // Component lookup should always be available since we are not using `ng-if`
                    $mdSidenav('left').close().then(function() {
                        $log.debug("close LEFT is done");
                    });

                }
                ;
            });
            app.config(function($routeProvider) {
                $routeProvider.when("/things", {
                    templateUrl: "things.html",
                    controller: "thingsController"
                }).when("/descriptorTypes", {
                    templateUrl: "descriptorTypes.html",
                    controller: "descriptorTypesController"
                }).when("/comparators", {
                    templateUrl: "comparators.html",
                    controller: "comparatorsController"
                }).otherwise({
                    templateUrl: "home.html"
                });
            }).service('userService', function() {
                this.userAttributes = {
                    "loggedIn": false
                }
            });

            app.controller('LoginDialogCtrl', function($scope, $http, $mdDialog, user) {
                $scope.loginForm = {}

                $scope.submitLoginForm = function() {
                    $http({
                        method: 'POST',
                        url: 'login',
                        data: 'username=' + encodeURIComponent($scope.loginForm.username) + '&password=' + encodeURIComponent($scope.loginForm.password) + '&submit=submit',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }).then(function mySuccess(response) {
                        user.loggedIn = true;
                        $scope.cancel();
                    }, function myError(response) {
                        $scope.loginForm.usernameInput.$error = {
                            failed: true
                        };
                    })
                }

                $scope.cancel = function() {
                    $mdDialog.hide();
                }
                ;

            });

            app.controller('AddThingDialogCtrl', function($scope, $http, $mdDialog, thingService, parentThings, firstParentThingId) {

                $scope.parentThings = parentThings
                $scope.addThingFormData = {};
                $scope.addThingFormData.isAbstract = false;
                $scope.addThingFormData.parentThingId = firstParentThingId;
                $scope.addThingFormData.descriptors = {};
                $scope.parentThing = thingService.getThingFromListById($scope.parentThings, $scope.addThingFormData.parentThingId);
                for (i = 0; i < $scope.parentThing.descriptors.length; i++) {
                    var descriptorTypeID = $scope.parentThing.descriptors[i].descriptorType.descriptorTypeID;
                    $scope.addThingFormData.descriptors[descriptorTypeID] = null;
                }


                $scope.submitAddThingForm = function() {
                    $http({
                        method: 'POST',
                        url: 'api/thing',
                        data: $scope.addThingFormData,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function mySuccess(response) {
                        $scope.cancel();
                    }, function myError(response) {
                        $scope.addThingForm.thingNameInput.$error = {
                            failed: true
                        };
                    })
                }

                $scope.newParentSelected = function() {
                    thingService.getAbstractThingAndParentAndChildren($scope.addThingFormData.parentThingId).then(function mySuccess(response) {
                        $scope.parentThings = response.data;
                        $scope.parentThing = thingService.getThingFromListById(response.data, $scope.addThingFormData.parentThingId);
                        for (i = 0; i < $scope.parentThing.descriptors.length; i++) {
                            var descriptorTypeID = $scope.parentThing.descriptors[i].descriptorType.descriptorTypeID;
                            $scope.addThingFormData.descriptors[descriptorTypeID] = null;
                        }
                    }, function myError(response) {
                        $scope.cancel();
                    });
                }

                $scope.cancel = function() {
                    $mdDialog.hide();
                }
                ;

            });

            app.controller('AddDescriptorTypeDialogCtrl', function($scope, $http, $mdDialog, descriptorTypeService, descriptorTypeTypes) {

                $scope.descriptorTypeTypes = descriptorTypeTypes
                $scope.addDescriptorTypeFormData = {};
                $scope.addDescriptorTypeFormData.isNullable = false;
                $scope.addDescriptorTypeFormData.isUnique = false;

                $scope.submitAddDescriptorTypeForm = function() {
                    $http({
                        method: 'POST',
                        url: 'api/descriptorType',
                        data: $scope.addDescriptorTypeFormData,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function mySuccess(response) {
                        $scope.cancel();
                    }, function myError(response) {
                        $scope.addDescriptorTypeForm.descriptorTypeNameInput.$error = {
                            failed: true
                        };
                    })
                }

                $scope.cancel = function() {
                    $mdDialog.hide();
                };
            });

            app.controller('AddComparatorDialogCtrl', function($scope, $http, $mdDialog, descriptorTypeService) {

                $scope.addComparatorFormData = {};
                $scope.addComparatorFormData.isNullable = false;
                $scope.addComparatorFormData.isUnique = false;

                $scope.submitAddComparatorForm = function() {
                    $http({
                        method: 'POST',
                        url: 'api/comparator',
                        data: $scope.addComparatorFormData,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function mySuccess(response) {
                        $scope.cancel();
                    }, function myError(response) {
                        $scope.addComparatorForm.comparatorNameInput.$error = {
                            failed: true
                        };
                    })
                }

                $scope.cancel = function() {
                    $mdDialog.hide();
                };
            });

            app.controller('ThingDialogCtrl', function($scope, $http, $mdDialog, thingService, thing) {

                $scope.thing = thing
                <!--$scope.parentThing = thingService.getThingFromListById($scope.parentThings, $scope.addThingFormData.parentThingId);-->
                <!--for (i = 0; i < $scope.parentThing.descriptors.length; i++) {-->
                    <!--var descriptorTypeID = $scope.parentThing.descriptors[i].descriptorType.descriptorTypeID;-->
                    <!--$scope.addThingFormData.descriptors[descriptorTypeID] = null;-->
                <!--}-->

                <!--$scope.submitAddThingForm = function() {-->
                    <!--$http({-->
                        <!--method: 'POST',-->
                        <!--url: 'api/thing',-->
                        <!--data: $scope.addThingFormData,-->
                        <!--headers: {-->
                            <!--'Content-Type': 'application/json'-->
                        <!--}-->
                    <!--}).then(function mySuccess(response) {-->
                        <!--$scope.cancel();-->
                    <!--}, function myError(response) {-->
                        <!--$scope.addThingForm.thingNameInput.$error = {-->
                            <!--failed: true-->
                        <!--};-->
                    <!--})-->
                <!--}-->

                <!--$scope.newParentSelected = function() {-->
                    <!--thingService.getAbstractThingAndParentAndChildren($scope.addThingFormData.parentThingId).then(function mySuccess(response) {-->
                        <!--$scope.parentThings = response.data;-->
                        <!--$scope.parentThing = thingService.getThingFromListById(response.data, $scope.addThingFormData.parentThingId);-->
                        <!--for (i = 0; i < $scope.parentThing.descriptors.length; i++) {-->
                            <!--var descriptorTypeID = $scope.parentThing.descriptors[i].descriptorType.descriptorTypeID;-->
                            <!--$scope.addThingFormData.descriptors[descriptorTypeID] = null;-->
                        <!--}-->
                    <!--}, function myError(response) {-->
                        <!--$scope.cancel();-->
                    <!--});-->
                <!--}-->

                $scope.cancel = function() {
                    $mdDialog.hide();
                }
                ;

            });

            app.service('thingService', ['$http', function ($http) {

                this.getThing = function (thingId) {
                    return $http.get("api/thing?thingID=" + thingId);
                };

                this.getAbstractThingAndParentAndChildren = function (thingId) {
                    return $http.get("api/thing/abstractThingAndParentAndChildren?thingID=" + thingId);
                };

                this.getThingFromListById = function (thingList, thingId) {
                    for (i = 0; i < thingList.length; i++) {
                        if (thingList[i].thingID == thingId) {
                            return thingList[i];
                        }
                    }
                    return null;
                };
            }]).service('descriptorTypeService', ['$http', function ($http) {

                this.getDescriptorType = function (descriptorTypeId) {
                    return $http.get("api/descriptorType?descriptorTypeId=" + descriptorTypeId);
                };

                this.getDescriptorTypeTypes = function () {
                    return $http.get("api/descriptorTypeTypes");
                };
            }]).service('comparatorService', ['$http', function ($http) {

                this.getComparator = function (comparatorId) {
                    return $http.get("api/comparator?comparatorId=" + comparatorId);
                };
            }]).service('locationService', ['$location', function ($location) {

                this.getQueryParams = function() {
                    var url = $location.url();
                    if (url.includes("?"))
                        return "?" + url.split('?')[1];
                    return "";
                }
            }]);


        </script>
</head>
<body ng-app="basicUsageSidenavDemo" ng-controller="AppCtrl" layout="row" ng-cloak>
<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4" flex>
    <md-toolbar class="md-theme-indigo" ng-controller="LeftCtrl">
        <div class="md-toolbar-tools">
            <h1>Sidenav Left</h1>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding ng-controller="LeftCtrl">
        <div layout="row">
            <a href="/angularjs.html#!/">home</a>
        </div>
        <div layout="row">
            <a href="/angularjs.html#!/things?thingID=1&comparatorID=1&descriptorTypeSearchedIDs=1,2,3&descriptorTypeRetrievedIDs=1,2,3">things</a>
        </div>
        <div layout="row">
            <a href="/angularjs.html#!/descriptorTypes">descriptorTypes</a>
        </div>
        <div layout="row">
            <a href="/angularjs.html#!/comparators">comparators</a>
        </div>
        <p hide show-gt-md>This sidenav is locked open on your device. To go back to the default behavior,
            narrow your display.
        </p>
    </md-content>
</md-sidenav>
<div layout="column" tabindex="-1" role="main" flex class="layout-column flex">
    <md-toolbar md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleLeft()" class="md-primary">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
            <h3>
                <span>title goes here</span>
            </h3>
            <span flex></span>
            <md-button class="md-primary md-raised" ng-click="openLogin($event)">Login
            </md-button>
        </div>
    </md-toolbar>
    <md-content md-scroll-y flex layout-padding>
        <div ng-view></div>
    </md-content>
</div>
</body>
</html>
