<html lang="en">
<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-http-auth/1.5.0/http-auth-interceptor.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">
    <script src="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>
    <script src="https://rawgit.com/jraadt/fixed-table-header/master/src/fixed-table-header.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-touch.js"></script>
    <style>
            body, md-content {
                background-color: #f5f5f5 !important;
            }

            body > md-toolbar {
                z-index: 3;
            }

            md-toolbar.md-table-toolbar.alternate {
                color: #1e88e5;
                background-color: #e3f2fd;
            }

            md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
                font-size: 16px;
            }

            md-virtual-repeat-container {
                height: 100%;
            }

            .thingCompareRow {
              display: flex;
            }

            .thingCompareColumn {
              flex: 50%;
            }

            .things-search-menu {
              background: white;
              border-radius: 4px;
              box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
                  0 13px 19px 2px rgba(0, 0, 0, 0.14),
                  0 5px 24px 4px rgba(0, 0, 0, 0.12);
              width: 256px;
            }

            .things-search-menu-item {
              align-items: center;
              cursor: pointer;
              display: flex;
              height: 48px;
              padding: 0 16px;
              position: relative;
              transition: background 0.15s linear;
              width: auto;
            }

            .things-search-menu-item:hover,
            .things-search-menu-item:focus {
              background-color: rgb(238, 238, 238);
            }

            .things-search-menu-item.selected {
              color: rgb(16, 108, 200);
            }
        </style>
    <script type="text/javascript">
            var app = angular.module('basicUsageSidenavDemo', ['ngRoute', 'ngMaterial', 'ngMessages', 'ngCookies', 'md.data.table', 'fixed.table.header']).config(['$mdThemingProvider', function($mdThemingProvider) {
                'use strict';

                $mdThemingProvider.theme('default').primaryPalette('blue');
            }
            ]).controller('thingsController', function($mdDialog, $mdEditDialog, $q, $scope, $timeout, $window, $http, $location, userService, thingService, locationService, comparatorService) {
                'use strict';

                $scope.userService = userService;

                $scope.searchInput = {};
                $scope.addSearchItem = function(path, value) {
                    addSearchItem(path, value, false);
                };
                $scope.addSearchItem = function(path, value, replace) {

                    var url = $location.absUrl();

                    if(replace)
                        url = $scope.removeChipFromURL(path + "=" + value);

                    if (url.includes("?"))
                        $window.location.href = url + "&" + path + "=" + encodeURI(value);
                    else
                        $window.location.href = url + "?" + path + "=" + encodeURI(value);
                };

                $scope.removeChip = function(chip) {
                    $window.location.href = $scope.removeChipFromURL(chip);
                };

                $scope.getChipByKey = function(key) {
                    if ($location.search()[key])
                        return key + "=" + $location.search()[key];

                    return null;
                }

                $scope.removeChipFromURL = function(chip) {

                    if(chip == null)
                        return $location.absUrl();

                    var encodedChip=encodeURI(chip);

                    //?asdf=asf&...
                    if ($location.absUrl().includes(encodedChip + "&"))
                        return $location.absUrl().replace(encodedChip + "&","");
                    //&asdf=asf
                    else if ($location.absUrl().includes("&" + encodedChip))
                        return $location.absUrl().replace("&" + encodedChip,"");
                    //?asdf=asf
                    else if ($location.absUrl().includes("?" + encodedChip))
                        return $location.absUrl().replace("?" + encodedChip,"");

                    return $location.absUrl();
                }

                $scope.showThingCompare = function(thingID, comparatorID) {

                    comparatorService.getComparator(comparatorID).then(function(comparatorResponse) {
                        thingService.getCompareThings(thingID, comparatorID, locationService.getQueryParams()).then(function(response) {
                            if(response.data[1]) {
                                $mdDialog.show({
                                    templateUrl: 'thingCompareDialog.html',
                                    controller: 'ThingCompareDialogCtrl',
                                    locals: {
                                        comparator: comparatorResponse.data,
                                        comparisonPair: response.data,
                                        customSet: $scope.customSetSelected
                                    }
                                }).finally(function() {
                                    $http.get("/api/thingsView" + locationService.getQueryParams()).then(function(response) {
                                        $scope.things = response.data;
                                    });
                                });
                            }
                        });
                     });
                };

                $scope.selected = [];

                // todo make dates prettier
                $scope.searchItems = [];
                var i;
                for(i = 0; i < locationService.getQueryParamsArray().length; i++) {
                    $scope.searchItems.push(decodeURI(locationService.getQueryParamsArray()[i]))
                }


                $scope.parentThing = {};
                $scope.parentThingID = 0;
                if ($location.search()['thingID'] != null) {
                    $scope.parentThingID = $location.search()['thingID']
                }
                thingService.getThing($scope.parentThingID).then(function(response) {
                    $scope.parentThing = response.data;
                });

                  $scope.query = {
                    order: 'thing.title',
                    limit: 5,
                    page: 1
                  };

                $scope.things = {};
                $scope.loadThings = function() {
                    $http.get("/api/thingsView" + locationService.getQueryParams()).then(function(response) {
                        $scope.things = response.data;

                        if($scope.things.comparesHeaders.length > 0) {
                            $scope.query.order="-comparesMap['" + $scope.things.comparesHeaders[0].title + "'].score";
                        }
                    });
                }
                $scope.loadThings();

                $scope.parentThings = [];
                $scope.loadParentThings = function() {
                    $http.get("/api/things?things.isAbstract=true").then(function(response) {
                        $scope.parentThings = response.data;
                    });
                }

                $scope.users = [];
                $scope.loadUsers = function() {
                    $http.get("api/users").then(function(response) {
                        $scope.users = response.data;
                    });
                }

                $scope.comparators = [];
                $scope.loadComparators = function() {
                    $http.get("api/comparators").then(function(response) {
                        $scope.comparators = response.data;
                    });
                }
                $scope.loadComparators();

                $scope.descriptorTypes = [];
                $scope.loadDescriptorTypes = function() {
                    $http.get("api/descriptorTypes").then(function(response) {
                        $scope.descriptorTypes = response.data;
                    });
                }
                $scope.loadDescriptorTypes();

                $scope.referenceThings = [];
                $scope.loadReferenceThings = function() {
                    $http.get("/api/things").then(function(response) {
                        $scope.referenceThings = response.data;
                    });
                }
                $scope.loadReferenceThings();

                $scope.customSets = null;
                $scope.customSetSelected = {};
                $scope.customSetSelected.customSetID = 0;
                $scope.loadCustomSets = function() {
                    $http.get("/api/customSets").then(function(response) {
                        $scope.customSets = response.data;
                        if ($location.search()['customSet'] && $scope.customSets != null) {
                            var i;
                            for (i = 0; i < $scope.customSets.length; i++) {
                                if($scope.customSets[i].customSetID == $location.search()['customSet']) {
                                    $scope.customSetSelected = $scope.customSets[i];
                                    break;
                                }
                            }
                        }
                    });
                }
                $scope.loadCustomSets();

                $scope.isEqualCreateDateOpen = false;
                $scope.isGTCreateDateOpen = false;
                $scope.isLTCreateDateOpen = false;

                $scope.showAddThing = function() {

                    thingService.getAbstractThingAndParentAndChildren($scope.parentThing!=""?$scope.parentThing.thingID:1).then(function(response) {
                        $mdDialog.show({
                            templateUrl: 'addThingDialog.html',
                            controller: 'AddThingDialogCtrl',
                            locals: {
                                parentThings: response.data,
                                firstParentThingId: $scope.parentThing!=""?$scope.parentThing.thingID:1
                            }
                        })
                        .finally(function() {
                          $http.get("/api/thingsView" + locationService.getQueryParams()).then(function(response) {
                              $scope.things = response.data;
                          });
                        });
                    });
                };

                $scope.showThing = function(thingID) {

                    thingService.getThing(thingID).then(function(response) {
                        $mdDialog.show({
                            templateUrl: 'thingDialog.html',
                            controller: 'ThingDialogCtrl',
                            locals: {
                                thing: response.data
                            }
                        })
                        .finally(function() {
                          $http.get("/api/thingsView" + locationService.getQueryParams()).then(function(response) {
                              $scope.things = response.data;
                          });
                          $scope.selected = [];
                        });
                    });
                };

                $scope.addCustomSetThing = function(referenceThing) {
                    var customSetThing = {};
                    customSetThing.thingID = referenceThing.thing.thingID;
                    customSetThing.customSetID = $scope.customSetSelected.customSetID;

                    $http({
                        method: 'POST',
                        url: '/api/customSet/thing',
                        data: customSetThing,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function (response) {
                        $http.get("/api/thingsView" + locationService.getQueryParams()).then(function(response) {
                            $scope.things = response.data;
                        });
                    })
                }

                $scope.removeCustomSetThing = function(thing) {
                    var customSetThing = {};
                    customSetThing.thingID = thing.thingID;
                    customSetThing.customSetID = $scope.customSetSelected.customSetID;

                    $http({
                        method: 'DELETE',
                        url: '/api/customSet/thing',
                        data: customSetThing,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function (response) {
                        $http.get("/api/thingsView" + locationService.getQueryParams()).then(function(response) {
                            $scope.things = response.data;
                        });
                    })
                }

  $scope.limitOptions = [5, 10, 15];

  $scope.options = {
    rowSelection: true,
    multiSelect: true,
    autoSelect: true,
    decapitate: false,
    largeEditDialog: false,
    boundaryLinks: false,
    limitSelect: true,
    pageSelect: true
  };

  $scope.editComment = function (event, dessert) {
    event.stopPropagation(); // in case autoselect is enabled

    var editDialog = {
      modelValue: dessert.comment,
      placeholder: 'Add a comment',
      save: function (input) {
        if(input.$modelValue === 'Donald Trump') {
          input.$invalid = true;
          return $q.reject();
        }
        if(input.$modelValue === 'Bernie Sanders') {
          return dessert.comment = 'FEEL THE BERN!'
        }
        dessert.comment = input.$modelValue;
      },
      targetEvent: event,
      title: 'Add a comment',
      validators: {
        'md-maxlength': 30
      }
    };

    var promise;

    if($scope.options.largeEditDialog) {
      promise = $mdEditDialog.large(editDialog);
    } else {
      promise = $mdEditDialog.small(editDialog);
    }

    promise.then(function (ctrl) {
      var input = ctrl.getInput();

      input.$viewChangeListeners.push(function () {
        input.$setValidity('test', input.$modelValue !== 'test');
      });
    });
  };

  $scope.toggleLimitOptions = function () {
    $scope.limitOptions = $scope.limitOptions ? undefined : [5, 25, 50];
  };

  $scope.loadStuff = function () {
    $scope.promise = $timeout(function () {
      // loading
    }, 2000);
  }

  $scope.logItem = function (item) {
    console.log(item.thing.title, 'was selected');
  };

  $scope.logOrder = function (order) {
    console.log('order: ', order);
  };

  $scope.logPagination = function (page, limit) {
    console.log('page: ', page);
    console.log('limit: ', limit);
  }
            }).controller('descriptorTypesController', function($mdDialog, $mdEditDialog, $q, $scope, $timeout, $window, $http, $location, userService, descriptorTypeService, locationService) {
                'use strict';

                $scope.userService = userService;

                $scope.selected = [];

                $scope.descriptorTypes = [];
                $scope.loadDescriptorTypes = function() {
                    $http.get("api/descriptorTypes").then(function(response) {
                        $scope.descriptorTypes = response.data;
                    });
                }
                $scope.loadDescriptorTypes();

                $scope.showAddDescriptorTypes = function() {

                    descriptorTypeService.getDescriptorTypeTypes().then(function(response) {
                        $mdDialog.show({
                            templateUrl: 'addDescriptorTypeDialog.html',
                            controller: 'AddDescriptorTypeDialogCtrl',
                            locals: {
                                descriptorTypeTypes: response.data,
                            }
                        })
                        .finally(function() {
                            $http.get("api/descriptorTypes").then(function(response) {
                                $scope.descriptorTypes = response.data;
                            });
                        });
                    });
                };

  $scope.limitOptions = [5, 10, 15];

  $scope.options = {
    rowSelection: true,
    multiSelect: true,
    autoSelect: true,
    decapitate: false,
    largeEditDialog: false,
    boundaryLinks: false,
    limitSelect: true,
    pageSelect: true
  };

  $scope.query = {
    order: 'name',
    limit: 5,
    page: 1
  };

  $scope.editComment = function (event, dessert) {
    event.stopPropagation(); // in case autoselect is enabled

    var editDialog = {
      modelValue: dessert.comment,
      placeholder: 'Add a comment',
      save: function (input) {
        if(input.$modelValue === 'Donald Trump') {
          input.$invalid = true;
          return $q.reject();
        }
        if(input.$modelValue === 'Bernie Sanders') {
          return dessert.comment = 'FEEL THE BERN!'
        }
        dessert.comment = input.$modelValue;
      },
      targetEvent: event,
      title: 'Add a comment',
      validators: {
        'md-maxlength': 30
      }
    };

    var promise;

    if($scope.options.largeEditDialog) {
      promise = $mdEditDialog.large(editDialog);
    } else {
      promise = $mdEditDialog.small(editDialog);
    }

    promise.then(function (ctrl) {
      var input = ctrl.getInput();

      input.$viewChangeListeners.push(function () {
        input.$setValidity('test', input.$modelValue !== 'test');
      });
    });
  };

  $scope.toggleLimitOptions = function () {
    $scope.limitOptions = $scope.limitOptions ? undefined : [5, 25, 50];
  };

  $scope.loadStuff = function () {
    $scope.promise = $timeout(function () {
      // loading
    }, 2000);
  }

  $scope.logItem = function (item) {
    console.log(item.title, 'was selected');
  };

  $scope.logOrder = function (order) {
    console.log('order: ', order);
  };

  $scope.logPagination = function (page, limit) {
    console.log('page: ', page);
    console.log('limit: ', limit);
  }
            }).controller('comparatorsController', function($mdDialog, $mdEditDialog, $q, $scope, $timeout, $window, $http, $location, userService, comparatorService, locationService) {
                'use strict';

                $scope.userService = userService;

                $scope.selected = [];

                $scope.comparators = [];
                $scope.loadComparators = function() {
                    $http.get("api/comparators").then(function(response) {
                        $scope.comparators = response.data;
                    });
                }
                $scope.loadComparators();

                $scope.showAddComparator = function() {

                    $mdDialog.show({
                        templateUrl: 'addComparatorDialog.html',
                        controller: 'AddComparatorDialogCtrl'
                    })
                    .finally(function() {
                        $http.get("api/comparators").then(function(response) {
                            $scope.comparators = response.data;
                        });
                    });
                };

  $scope.limitOptions = [5, 10, 15];

  $scope.options = {
    rowSelection: true,
    multiSelect: true,
    autoSelect: true,
    decapitate: false,
    largeEditDialog: false,
    boundaryLinks: false,
    limitSelect: true,
    pageSelect: true
  };

  $scope.query = {
    order: 'name',
    limit: 5,
    page: 1
  };

  $scope.editComment = function (event, dessert) {
    event.stopPropagation(); // in case autoselect is enabled

    var editDialog = {
      modelValue: dessert.comment,
      placeholder: 'Add a comment',
      save: function (input) {
        if(input.$modelValue === 'Donald Trump') {
          input.$invalid = true;
          return $q.reject();
        }
        if(input.$modelValue === 'Bernie Sanders') {
          return dessert.comment = 'FEEL THE BERN!'
        }
        dessert.comment = input.$modelValue;
      },
      targetEvent: event,
      title: 'Add a comment',
      validators: {
        'md-maxlength': 30
      }
    };

    var promise;

    if($scope.options.largeEditDialog) {
      promise = $mdEditDialog.large(editDialog);
    } else {
      promise = $mdEditDialog.small(editDialog);
    }

    promise.then(function (ctrl) {
      var input = ctrl.getInput();

      input.$viewChangeListeners.push(function () {
        input.$setValidity('test', input.$modelValue !== 'test');
      });
    });
  };

  $scope.toggleLimitOptions = function () {
    $scope.limitOptions = $scope.limitOptions ? undefined : [5, 25, 50];
  };

  $scope.loadStuff = function () {
    $scope.promise = $timeout(function () {
      // loading
    }, 2000);
  }

  $scope.logItem = function (item) {
    console.log(item.title, 'was selected');
  };

  $scope.logOrder = function (order) {
    console.log('order: ', order);
  };

  $scope.logPagination = function (page, limit) {
    console.log('page: ', page);
    console.log('limit: ', limit);
  }
            }).controller('customSetsController', function($mdDialog, $mdEditDialog, $q, $scope, $timeout, $window, $http, $location, userService, locationService) {
                'use strict';

                $scope.userService = userService;

                $scope.selected = [];

                $scope.customSets = [];
                $scope.loadCustomSets = function() {
                    $http.get("api/customSets").then(function(response) {
                        $scope.customSets = response.data;
                    });
                }
                $scope.loadCustomSets();

                $scope.showAddCustomSet = function() {

                    $mdDialog.show({
                        templateUrl: 'addCustomSetDialog.html',
                        controller: 'AddCustomSetDialogCtrl'
                    })
                    .finally(function() {
                        $http.get("api/customSets").then(function(response) {
                            $scope.customSets = response.data;
                        });
                    });
                };

  $scope.limitOptions = [5, 10, 15];

  $scope.options = {
    rowSelection: true,
    multiSelect: true,
    autoSelect: true,
    decapitate: false,
    largeEditDialog: false,
    boundaryLinks: false,
    limitSelect: true,
    pageSelect: true
  };

  $scope.query = {
    order: 'name',
    limit: 5,
    page: 1
  };

  $scope.editComment = function (event, dessert) {
    event.stopPropagation(); // in case autoselect is enabled

    var editDialog = {
      modelValue: dessert.comment,
      placeholder: 'Add a comment',
      save: function (input) {
        if(input.$modelValue === 'Donald Trump') {
          input.$invalid = true;
          return $q.reject();
        }
        if(input.$modelValue === 'Bernie Sanders') {
          return dessert.comment = 'FEEL THE BERN!'
        }
        dessert.comment = input.$modelValue;
      },
      targetEvent: event,
      title: 'Add a comment',
      validators: {
        'md-maxlength': 30
      }
    };

    var promise;

    if($scope.options.largeEditDialog) {
      promise = $mdEditDialog.large(editDialog);
    } else {
      promise = $mdEditDialog.small(editDialog);
    }

    promise.then(function (ctrl) {
      var input = ctrl.getInput();

      input.$viewChangeListeners.push(function () {
        input.$setValidity('test', input.$modelValue !== 'test');
      });
    });
  };

  $scope.toggleLimitOptions = function () {
    $scope.limitOptions = $scope.limitOptions ? undefined : [5, 25, 50];
  };

  $scope.loadStuff = function () {
    $scope.promise = $timeout(function () {
      // loading
    }, 2000);
  }

  $scope.logItem = function (item) {
    console.log(item.title, 'was selected');
  };

  $scope.logOrder = function (order) {
    console.log('order: ', order);
  };

  $scope.logPagination = function (page, limit) {
    console.log('page: ', page);
    console.log('limit: ', limit);
  }
            }).controller('AppCtrl', function($scope, $mdDialog, $timeout, $mdSidenav, $log, $http, userService, $location, thingService) {

                userService.setUserAttributes();

                $scope.userService = userService;

                $scope.lockSidebar = {};
                $scope.lockSidebar.locked = false;

                $scope.toggleLeft = buildDelayedToggler('left');
                $scope.toggleRight = buildToggler('right');
                $scope.isOpenRight = function() {
                    return $mdSidenav('right').isOpen();
                }
                ;

                $scope.openLogin = function() {
                    $mdDialog.show({
                        templateUrl: 'loginDialog.html',
                        controller: 'LoginDialogCtrl'
                    });
                }
                ;

                /**
                  * Supplies a function that will continue to operate until the
                  * time is up.
                  */
                function debounce(func, wait, context) {
                    var timer;

                    return function debounced() {
                        var context = $scope
                          , args = Array.prototype.slice.call(arguments);
                        $timeout.cancel(timer);
                        timer = $timeout(function() {
                            timer = undefined;
                            func.apply(context, args);
                        }, wait || 10);
                    };
                }

                /**
                  * Build handler to open/close a SideNav; when animation finishes
                  * report completion in console
                  */
                function buildDelayedToggler(navID) {
                    return debounce(function() {
                        // Component lookup should always be available since we are not using `ng-if`
                        $mdSidenav(navID).toggle().then(function() {
                            $log.debug("toggle " + navID + " is done");
                        });
                    }, 10);
                }

                function buildToggler(navID) {
                    return function() {
                        // Component lookup should always be available since we are not using `ng-if`
                        $mdSidenav(navID).toggle().then(function() {
                            $log.debug("toggle " + navID + " is done");
                        });
                    };
                }
            }).controller('LeftCtrl', function($scope, $timeout, $mdSidenav, $log) {
                $scope.close = function() {
                    // Component lookup should always be available since we are not using `ng-if`
                    $mdSidenav('left').close().then(function() {
                        $log.debug("close LEFT is done");
                    });

                };
            });
            app.config(function($routeProvider) {
                $routeProvider.when("/things", {
                    templateUrl: "things.html",
                    controller: "thingsController"
                }).when("/descriptorTypes", {
                    templateUrl: "descriptorTypes.html",
                    controller: "descriptorTypesController"
                }).when("/comparators", {
                    templateUrl: "comparators.html",
                    controller: "comparatorsController"
                }).when("/customSets", {
                    templateUrl: "customSets.html",
                    controller: "customSetsController"
                }).otherwise({
                    templateUrl: "home.html"
                });
            }).service('userService', function($http, $cookies) {
                var self = this;
                self.userAttributes = {
                    "loggedIn": false
                }

                self.setUserAttributes = function() {
                    return new Promise((resolve, reject)=>{
                        $http.get("/api/user/attributes").then(function(response) {
                            if (response.data != null) {
                                self.userAttributes = response.data;
                                self.userAttributes.loggedIn = true;
                                resolve();
                            } else {
                                self.userAttributes = {};
                                self.userAttributes.loggedIn = false;
                                reject();
                            }
                        });
                    });
                }

                self.logOut = function() {
                    $http.post("/logout").then(function(response) {
                        self.userAttributes = {};
                        self.userAttributes.loggedIn = false;
                    },function(response) {
                        // todo clear the JSESSIONID cookie to prevent users from failing to log out
                        $cookies.put("JSESSIONID", "");
                        self.userAttributes = {};
                        self.userAttributes.loggedIn = false;
                    });
                }
            });

            app.controller('LoginDialogCtrl', function($scope, $http, $mdDialog, userService) {
                $scope.loginForm = {}

                $scope.submitLoginForm = function() {
                    $http({
                        method: 'POST',
                        url: 'login',
                        data: 'username=' + encodeURIComponent($scope.loginForm.username) + '&password=' + encodeURIComponent($scope.loginForm.password) + '&submit=submit',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }).then(function mySuccess(response) {
                        userService.setUserAttributes().then(function(response) {
                            $scope.cancel();
                        });
                    }, function myError(response) {
                        $scope.loginForm.usernameInput.$error = {
                            failed: true
                        };
                    })
                }

                $scope.signUp = function() {
                    $mdDialog.show({
                        templateUrl: 'signUpDialog.html',
                        controller: 'SignUpDialogCtrl'
                    }).finally(function() {
                        if(userService.userAttributes.loggedIn == true) {
                            $scope.cancel();
                        }
                    });;
                }
                ;

                $scope.cancel = function() {
                    $mdDialog.hide();
                };

            });

            app.controller('SignUpDialogCtrl', function($scope, $http, $mdDialog, userService) {
                $scope.userService = userService;
                $scope.signUpForm = {};
                $scope.signUpFormData = {};

                $scope.submitSignInForm = function() {
                    if ($scope.signUpFormData.password === $scope.signUpFormData.repeatPassword) {
                        $http({
                            method: 'POST',
                            url: 'api/user',
                            data: $scope.signUpFormData,
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }).then(function mySuccess(response) {
                            userService.setUserAttributes().then(function(response) {
                                $scope.cancel();
                            });
                        }, function myError(response) {
                            $scope.loginForm.usernameInput.$error = {
                                failed: true
                            };
                        })
                    } else {
                        $scope.signUpForm.passwordInput.$setValidity('validationError', false);
                    }
                }

                $scope.cancel = function() {
                    $mdDialog.hide();
                };

            });

            app.controller('AddThingDialogCtrl', function($scope, $http, $mdDialog, userService, thingService, descriptorTypeService, comparatorService, parentThings, firstParentThingId) {

                $scope.userService = userService;
                $scope.parentThings = parentThings;
                $scope.thingEditFormData = {};
                $scope.thingEditFormData.isAbstract = false;
                $scope.thingEditFormData.parentThingId = firstParentThingId;
                $scope.thingEditFormData.descriptors = {};
                $scope.parentThing = thingService.getThingFromListById($scope.parentThings, $scope.thingEditFormData.parentThingId);
                $scope.descriptors = $scope.parentThing.descriptors;
                for (i = 0; i < $scope.descriptors.length; i++) {
                    var descriptorTypeID = $scope.descriptors[i].descriptorType.descriptorTypeID;
                    $scope.thingEditFormData.descriptors[descriptorTypeID] = null;
                }
                $scope.parentComparators = [];
                for (i = 0; i < $scope.parentThing.compares.length; i++) {
                    var parentCompares = $scope.parentThing.compares[i];
                    $scope.parentComparators.push(parentCompares.comparator);
                }
                $scope.thingEditFormData.childComparators = [];

                $scope.submitAddThingForm = function() {
                    $scope.showNewDescriptor=false;
                    $scope.showNewCompares=false;
                    $http({
                        method: 'POST',
                        url: 'api/thing',
                        data: $scope.thingEditFormData,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function mySuccess(response) {
                        $scope.cancel();
                    }, function myError(response) {
                        $scope.addThingForm.thingNameInput.$error = {
                            failed: true
                        };
                    })
                }

                $scope.newParentSelected = function() {
                    thingService.getAbstractThingAndParentAndChildren($scope.thingEditFormData.parentThingId).then(function mySuccess(response) {
                        $scope.parentThings = response.data;
                        $scope.parentThing = thingService.getThingFromListById(response.data, $scope.thingEditFormData.parentThingId);
                        $scope.descriptors = $scope.parentThing.descriptors;
                        $scope.thingEditFormData.descriptors={};
                        for (i = 0; i < $scope.descriptors.length; i++) {
                            var descriptorTypeID = $scope.descriptors[i].descriptorType.descriptorTypeID;
                            $scope.thingEditFormData.descriptors[descriptorTypeID] = null;
                        }
                        $scope.parentComparators = [];
                        for (i = 0; i < $scope.parentThing.compares.length; i++) {
                            var parentCompares = $scope.parentThing.compares[i];
                            $scope.parentComparators.push(parentCompares.comparator);
                        }
                    }, function myError(response) {
                        $scope.cancel();
                    });
                }

                $scope.showNewDescriptor = false;
                $scope.descriptorTypes = {};

                $scope.showAddNewDescriptor = function() {
                    descriptorTypeService.getDescriptorTypes().then(function mySuccess(response) {
                        $scope.descriptorTypes = response.data;
                        $scope.showNewDescriptor=true;
                    });
                };

                $scope.addNewDescriptor = function(descriptorType) {
                    var newDescriptor = {}
                    newDescriptor.descriptorType = descriptorType;
                    newDescriptor.type = descriptorType.valueType;
                    $scope.descriptors.push(newDescriptor);
                    $scope.thingEditFormData.descriptors[descriptorType.descriptorTypeID] = null;
                    $scope.showNewDescriptor=false;
                };

                $scope.showNewCompares = false;
                $scope.comparators = {};

                $scope.showAddNewComparator = function() {
                    comparatorService.getComparators().then(function mySuccess(response) {
                        $scope.comparators = response.data;
                        $scope.showNewCompares=true;
                    });
                };

                $scope.addNewComparator = function(comparator) {
                    $scope.thingEditFormData.childComparators.push(comparator);
                    $scope.showNewCompares=false;
                };

                $scope.clearChildComparators = function() {
                    $scope.thingEditFormData.childComparators = [];
                };

                $scope.cancel = function() {
                    $mdDialog.hide();
                };

            });

            app.controller('AddDescriptorTypeDialogCtrl', function($scope, $http, $mdDialog, descriptorTypeService, descriptorTypeTypes) {

                $scope.descriptorTypeTypes = descriptorTypeTypes
                $scope.addDescriptorTypeFormData = {};
                $scope.addDescriptorTypeFormData.isNullable = false;
                $scope.addDescriptorTypeFormData.isUnique = false;

                $scope.submitAddDescriptorTypeForm = function() {
                    $http({
                        method: 'POST',
                        url: 'api/descriptorType',
                        data: $scope.addDescriptorTypeFormData,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function mySuccess(response) {
                        $scope.cancel();
                    }, function myError(response) {
                        $scope.addDescriptorTypeForm.descriptorTypeNameInput.$error = {
                            failed: true
                        };
                    })
                }

                $scope.cancel = function() {
                    $mdDialog.hide();
                };
            });

            app.controller('AddComparatorDialogCtrl', function($scope, $http, $mdDialog) {

                $scope.addComparatorFormData = {};

                $scope.submitAddComparatorForm = function() {
                    $http({
                        method: 'POST',
                        url: 'api/comparator',
                        data: $scope.addComparatorFormData,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function mySuccess(response) {
                        $scope.cancel();
                    }, function myError(response) {
                        $scope.addComparatorForm.comparatorNameInput.$error = {
                            failed: true
                        };
                    })
                }

                $scope.cancel = function() {
                    $mdDialog.hide();
                };
            });

            app.controller('AddCustomSetDialogCtrl', function($scope, $http, $mdDialog) {

                $scope.addCustomSetFormData = {};

                $scope.submitAddCustomSetForm = function() {
                    $http({
                        method: 'POST',
                        url: 'api/customSet',
                        data: $scope.addCustomSetFormData,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function mySuccess(response) {
                        $scope.cancel();
                    }, function myError(response) {
                        $scope.addCustomSetForm.customSetNameInput.$error = {
                            failed: true
                        };
                    })
                }

                $scope.cancel = function() {
                    $mdDialog.hide();
                };
            });

            app.controller('ThingCompareDialogCtrl', function($scope, $http, $mdDialog, thingService, locationService, comparator, comparisonPair, customSet) {

                $scope.comparisonPair = comparisonPair;
                $scope.comparator = comparator;
                $scope.more = {};
                $scope.more.checked = false;

                $scope.vote = function(comparator, winnerThing, loserThing) {
                    var vote = {};
                    vote.comparator = comparator;
                    vote.winnerThing = winnerThing;
                    vote.loserThing = loserThing;
                    if (customSet.customSetID > 0)
                        vote.customSet = customSet;
                    else
                        vote.customSet = null;
                    $http({
                        method: 'POST',
                        url: 'api/vote',
                        data: vote,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function mySuccess(response) {
                        if ($scope.more.checked) {
                            thingService.getCompareThings(null, comparator.comparatorID, locationService.getQueryParams()).then(function(response) {
                                if(response.data[1]) {
                                    $scope.comparisonPair= response.data
                                } else {
                                    $scope.cancel();
                                }
                            });
                        } else {
                            $scope.cancel();
                        }
                    }, function myError(response) {
                        $scope.cancel();
                    })
                }

                $scope.cancel = function() {
                    $mdDialog.hide();
                };
            });

            app.controller('AddComparatorDialogCtrl', function($scope, $http, $mdDialog, descriptorTypeService) {

                $scope.addComparatorFormData = {};
                $scope.addComparatorFormData.isNullable = false;
                $scope.addComparatorFormData.isUnique = false;

                $scope.submitAddComparatorForm = function() {
                    $http({
                        method: 'POST',
                        url: 'api/comparator',
                        data: $scope.addComparatorFormData,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function mySuccess(response) {
                        $scope.cancel();
                    }, function myError(response) {
                        $scope.addComparatorForm.comparatorNameInput.$error = {
                            failed: true
                        };
                    })
                }

                $scope.cancel = function() {
                    $mdDialog.hide();
                };
            });

            app.controller('ThingDialogCtrl', function($scope, $http, $mdDialog, userService, thingService, descriptorTypeService, comparatorService, thing) {

                $scope.userService = userService;
                $scope.thing = thing;
                $scope.action = {};
                $scope.editing = false;

                $scope.cancel = function() {
                    $mdDialog.hide();
                };
                $scope.edit = function() {
                    $scope.editing = !$scope.editing;
                };

                $scope.thingEditFormData = {};
                $scope.thingEditFormData.thingID = $scope.thing.thingID;
                $scope.thingEditFormData.title = $scope.thing.title;
                $scope.thingEditFormData.isAbstract = $scope.thing.isAbstract;
                $scope.thingEditFormData.parentThingId = $scope.thing.thingID;
                $scope.thingEditFormData.descriptors = {};
                $scope.thingEditFormData.parentThingId = null;
                $scope.parentThings = [];
                if($scope.thing.parentThing!=null) {
                    $scope.thingEditFormData.parentThingId = $scope.thing.parentThing.thingID;
                    thingService.getThing($scope.thing.parentThing.thingID).then(function(response) {
                        $scope.parentThings.push(response.data);
                    });
                }
                $scope.descriptors = [];
                for (i = 0; i < $scope.thing.descriptors.length; i++) {
                    //band aid fix to not mess up thing after clicking edit again
                    $scope.descriptors.push($scope.thing.descriptors[i]);
                    var descriptorTypeID = $scope.thing.descriptors[i].descriptorType.descriptorTypeID;
                    $scope.descriptors[i].descriptorType.descriptorTypeID = $scope.thing.descriptors[i].descriptorType.descriptorTypeID;
                    $scope.thingEditFormData.descriptors[descriptorTypeID] = $scope.thing.descriptors[i].readableString;
                }
                $scope.parentComparators = [];
                $scope.parentComparatorIDs = [];
                if($scope.thing.parentThing!=null) {
                    for (i = 0; i < $scope.thing.parentThing.compares.length; i++) {
                        var parentCompares = $scope.thing.parentThing.compares[i];
                        $scope.parentComparators.push(parentCompares.comparator);
                        $scope.parentComparatorIDs.push(parentCompares.comparator.comparatorID);
                    }
                }
                $scope.thingEditFormData.childComparators = [];
                for (i = 0; i < $scope.thing.compares.length; i++) {
                    var childCompares = $scope.thing.compares[i];
                    if(!$scope.parentComparatorIDs.includes(childCompares.comparator.comparatorID)) {
                        $scope.thingEditFormData.childComparators.push(childCompares.comparator);
                    }
                }

                $scope.submitEditThingForm = function() {
                    $http({
                        method: 'PUT',
                        url: 'api/thing',
                        data: $scope.thingEditFormData,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function mySuccess(response) {
                        $scope.cancel();
                    }, function myError(response) {
                        $scope.addThingForm.thingNameInput.$error = {
                            failed: true
                        };
                    })
                }

                $scope.newParentSelected = function() {
                    <!--thingService.getAbstractThingAndParentAndChildren($scope.thingEditFormData.parentThingId).then(function mySuccess(response) {-->
                        <!--$scope.parentThings = response.data;-->
                        <!--$scope.parentThing = thingService.getThingFromListById(response.data, $scope.thingEditFormData.parentThingId);-->
                        <!--$scope.thingEditFormData.descriptors={};-->
                        <!--for (i = 0; i < $scope.parentThing.descriptors.length; i++) {-->
                            <!--var descriptorTypeID = $scope.parentThing.descriptors[i].descriptorType.descriptorTypeID;-->
                            <!--$scope.thingEditFormData.descriptors[descriptorTypeID] = null;-->
                        <!--}-->
                    <!--}, function myError(response) {-->
                        <!--$scope.cancel();-->
                    <!--});-->
                        <!--$scope.parentComparators = [];-->
                        <!--for (i = 0; i < $scope.parentThing.compares.length; i++) {-->
                            <!--var parentCompares = $scope.parentThing.compares[i];-->
                            <!--$scope.parentComparators.push(parentCompares.comparator);-->
                        <!--}-->
                }

                $scope.showNewDescriptor = false;
                $scope.descriptorTypes = {};

                $scope.showAddNewDescriptor = function() {
                    descriptorTypeService.getDescriptorTypes().then(function mySuccess(response) {
                        $scope.descriptorTypes = response.data;
                        $scope.showNewDescriptor=true;
                    });
                };

                $scope.addNewDescriptor = function(descriptorType) {
                    var newDescriptor = {}
                    newDescriptor.descriptorType = descriptorType;
                    newDescriptor.type = descriptorType.valueType;
                    $scope.descriptors.push(newDescriptor);
                    $scope.thingEditFormData.descriptors[descriptorType.descriptorTypeID] = null;
                    $scope.showNewDescriptor=false;
                };

                $scope.showNewCompares = false;
                $scope.comparators = {};

                $scope.showAddNewComparator = function() {
                    comparatorService.getComparators().then(function mySuccess(response) {
                        $scope.comparators = response.data;
                        $scope.showNewCompares=true;
                    });
                };

                $scope.addNewComparator = function(comparator) {
                    $scope.thingEditFormData.childComparators.push(comparator);
                    $scope.showNewCompares=false;
                };

                $scope.clearChildComparators = function() {
                    $scope.thingEditFormData.childComparators = [];
                };
            });

            app.service('thingService', ['$http', function ($http) {

                this.getThing = function(thingId) {
                    return $http.get("api/thing?thingID=" + thingId);
                };

                this.getAbstractThingAndParentAndChildren = function(thingId) {
                    return $http.get("api/thing/abstractThingAndParentAndChildren?thingID=" + thingId);
                };

                this.getThingFromListById = function(thingList, thingId) {
                    for (i = 0; i < thingList.length; i++) {
                        if (thingList[i].thingID == thingId) {
                            return thingList[i];
                        }
                    }
                    return null;
                };

                this.getCompareThings = function(thingID, comparatorID, searchParams) {
                    if (comparatorID == null)
                        comparatorID = 1;
                    if (thingID == null && searchParams === "") {
                        return $http.get("api/thing/comparison?comparedComparatorID=" + comparatorID);
                    } else if (thingID == null) {
                        return $http.get("api/thing/comparison" + searchParams + "&comparedComparatorID=" + comparatorID);
                    } else if (searchParams === "") {
                        return $http.get("api/thing/comparison?comparedComparatorID=" + comparatorID + "&comparedThingID=" + thingID);
                    } else {
                        return $http.get("api/thing/comparison" + searchParams +"&comparedThingID=" + thingID + "&comparedComparatorID=" + comparatorID);
                    }
                }
            }]).service('descriptorTypeService', ['$http', function ($http) {

                this.getDescriptorType = function (descriptorTypeId) {
                    return $http.get("api/descriptorType?descriptorTypeId=" + descriptorTypeId);
                };

                this.getDescriptorTypes = function () {
                    return $http.get("api/descriptorTypes");
                };

                this.getDescriptorTypeTypes = function () {
                    return $http.get("api/descriptorTypeTypes");
                };
            }]).service('comparatorService', ['$http', function ($http) {

                this.getComparator = function (comparatorID) {
                    return $http.get("api/comparator?comparatorID=" + comparatorID);
                };
                this.getComparators = function () {
                    return $http.get("api/comparators");
                };
            }]).service('locationService', ['$location', function ($location) {

                this.getQueryParams = function() {
                    var url = $location.url();
                    if (url.includes("?"))
                        return "?" + url.split('?')[1];
                    return "";
                }
                this.getQueryParamsArray = function() {
                    var url = $location.url();
                    if (url.includes("?"))
                        return url.split('?')[1].split('&');
                    return [];
                }
            }])
            .directive('thingEditForm', thingEditFormFactory)
            .directive('thingsSearchMenu', thingsSearchMenuFactory);

            function thingEditFormFactory()
            {
                return {
                    restrict: 'E',
                    scope: false,
                    templateUrl: "thingEditForm.html"
                };
            };

            function thingsSearchMenuFactory()
            {
                return {
                    restrict: 'E',
                    scope: false,
                    templateUrl: "thingsSearchMenu.html"
                };
            };
        </script>
</head>
<body ng-app="basicUsageSidenavDemo" ng-controller="AppCtrl" layout="row" ng-cloak>
<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="lockSidebar.locked" md-whiteframe="4" flex>
    <md-toolbar class="md-theme-indigo" ng-controller="LeftCtrl">
        <div class="md-toolbar-tools">
            <h1>Sidenav Left</h1>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="lockSidebar.locked=true" ng-if="!lockSidebar.locked" class="md-icon-button">
                <md-icon aria-label="Close dialog">lock</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="lockSidebar.locked=false" ng-if="lockSidebar.locked" class="md-icon-button">
                <md-icon aria-label="Close dialog">lock_open</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="lockSidebar.locked=false; close()" class="md-icon-button">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding ng-controller="LeftCtrl">
        <div layout="row">
            <a href="/angularjs.html#!/" ng-click="close()">home</a>
        </div>
        <div layout="row">
            <a href="/angularjs.html#!/things" ng-click="close()">things</a>
        </div>
        <div layout="row">
            <a href="/angularjs.html#!/descriptorTypes" ng-click="close()">descriptor types</a>
        </div>
        <div layout="row">
            <a href="/angularjs.html#!/comparators" ng-click="close()">comparators</a>
        </div>
        <div layout="row">
            <a href="/angularjs.html#!/customSets" ng-click="close()">custom Sets</a>
        </div>
    </md-content>
</md-sidenav>
<div layout="column" tabindex="-1" role="main" flex class="layout-column flex">
    <md-toolbar md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleLeft()" class="md-icon-button">
                <md-icon aria-label="side menu open">menu</md-icon>
            </md-button>
            <h3>
                <span>title goes here</span>
            </h3>
            <span flex></span>
            <span ng-if="userService.userAttributes.loggedIn">{{userService.userAttributes.username}}</span>
            <md-button ng-if="userService.userAttributes.loggedIn" ng-click="userService.logOut()">logout</md-button>
            <md-button class="md-primary md-raised" ng-click="openLogin($event)" ng-if="!userService.userAttributes.loggedIn">Login</md-button>
        </div>
    </md-toolbar>
    <md-content md-scroll-y flex layout-padding>
        <div ng-view></div>
    </md-content>
</div>
</body>
</html>
