<body layout="column">
<md-content layout="column" flex>

        <md-card>
            <div layout="row" layout-wrap class="checkboxes">
                <md-checkbox ng-model="options.rowSelection">Row Selection</md-checkbox>
                <md-checkbox ng-model="options.multiSelect">Multiple Selection</md-checkbox>
                <md-checkbox ng-model="options.autoSelect">Auto Selection</md-checkbox>
                <md-checkbox ng-model="options.decapitate">Decapitate</md-checkbox>
                <md-checkbox ng-model="options.largeEditDialog">Lard Edit Dialogs</md-checkbox>
                <md-checkbox ng-model="options.boundaryLinks">Pagination Boundary Links</md-checkbox>
                <md-checkbox ng-model="options.limitSelect" ng-click="toggleLimitOptions()">Pagination Limit Select</md-checkbox>
                <md-checkbox ng-model="options.pageSelect">Pagination Page Select</md-checkbox>
            </div>
        </md-card>

        <md-card>

            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>Descriptor Types</span>
                    <span ng-if="user.loggedIn">
                        <md-button class="md-icon-button" ng-click="showAddDescriptorTypes($event)">
                            <md-icon>add</md-icon>
                        </md-button>
                    </span>
                    <div flex></div>
                    <md-button class="md-icon-button" ng-click="loadDescriptorTypes()">
                        <md-icon>refresh</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
                </div>
            </md-toolbar>

            <md-table-container>
                <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
                    <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                        <tr md-row>
                            <th md-column md-order-by="descriptorTypeID"><span>ID</span></th>
                            <th md-column md-order-by="title"><span>Title</span></th>
                            <th md-column md-order-by="valueType"><span>ValueType</span></th>
                            <th md-column md-order-by="isNullable"><span>Nullable</span></th>
                            <th md-column md-order-by="isUnique"><span>Unique</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="descriptorType" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="descriptorType in descriptorTypes | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                            <td md-cell>{{descriptorType.descriptorTypeID}}</td>
                            <td md-cell>{{descriptorType.title}}</td>
                            <td md-cell>{{descriptorType.valueType}}</td>
                            <td md-cell>{{descriptorType.isNullable}}</td>
                            <td md-cell>{{descriptorType.isUnique}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{descriptorTypes.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
        </md-card>
</md-content>

</body>