<md-dialog aria-label="Login Dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Login</h2>
            <span flex></span>
            <md-button ng-click="cancel()" class="md-primary">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-gt-sm="column" layout-padding>

    <form name="loginForm">

            <div>
                <md-input-container>
                    <label>Username</label>
                    <input ng-model="loginForm.username" name="usernameInput">
                    <div ng-messages="loginForm.usernameInput.$error" role="alert">
                        <p ng-message="failed">
                            LoginFailed!
                        </p>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Password</label>
                    <input ng-model="loginForm.password" type="password">
                </md-input-container>
            </div>
    </form>
        </md-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" >
                Cancel
            </md-button>
            <md-button ng-click="submitLoginForm()" style="margin-right:20px;" >
                Submit
            </md-button>
        </md-dialog-actions>
</md-dialog>