<md-dialog aria-label="Sign Up Dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Sign up</h2>
            <span flex></span>
            <md-button ng-click="cancel()" class="md-icon-button">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-gt-sm="column" layout-padding>

    <form name="signUpForm">

            <div layout-gt-xs="row">
                <md-input-container>
                    <label>Username</label>
                    <input ng-model="signUpFormData.username" name="usernameInput">
                    <div ng-messages="signUpForm.usernameInput.$error" role="alert">
                        <p ng-message="failed">
                            Sign Up Failed!
                        </p>
                    </div>
                </md-input-container>
            </div>

            <div layout-gt-xs="row">
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="signUpFormData.password" type="password" name="passwordInput">
                    <div ng-messages="signUpForm.password.$error" role="alert">
                        <p ng-message="failed">
                            Passwords did not match!
                        </p>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Repeat password</label>
                    <input ng-model="signUpFormData.repeatPassword" type="password">
                </md-input-container>
            </div>
    </form>
        </md-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" >
                Cancel
            </md-button>
            <md-button ng-click="submitSignInForm()" style="margin-right:20px;" >
                Submit
            </md-button>
        </md-dialog-actions>
</md-dialog>