<md-dialog aria-label="Add Thing Dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>What is {{comparator.title}}?</h2>
            <span flex></span>
            <md-button ng-click="cancel()" class="md-primary">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-gt-sm="column" layout-padding md-swipe-right="vote(comparator,comparisonPair[0],comparisonPair[1])" md-swipe-left="vote(comparator,comparisonPair[1],comparisonPair[0])">
        <div layout="row" layout-sm="column">
            <div class="column">
                <div layout="row" layout-sm="column">
                    <h2>{{comparisonPair[0].title}}</h2>
                    <md-button class="md-icon-button" ng-click="vote(comparator,comparisonPair[0],comparisonPair[1])">
                        <md-icon>check</md-icon>
                    </md-button>
                </div>
                <p>Parent Thing: {{comparisonPair[0].parentThing.title}}</p>
                <p>Abstract: {{comparisonPair[0].isAbstract}}</p>
                <p ng-repeat="descriptor in comparisonPair[0].descriptors">{{descriptor.descriptorType.title}}: {{descriptor.readableString}}</p>
            </div>
            <md-divider></md-divider>
            <div class="column">
                <row></row>
                <div layout="row" layout-sm="column">
                    <h2>{{comparisonPair[1].title}}</h2>
                    <md-button class="md-icon-button" ng-click="vote(comparator,comparisonPair[1],comparisonPair[0])">
                        <md-icon>check</md-icon>
                    </md-button>
                </div>
                <p>Parent Thing: {{comparisonPair[1].parentThing.title}}</p>
                <p>Abstract: {{comparisonPair[1].isAbstract}}</p>
                <p ng-repeat="descriptor in comparisonPair[1].descriptors">{{descriptor.descriptorType.title}}: {{descriptor.readableString}}</p>
            </div>
        </div>
    </md-content>

    <md-dialog-actions layout="row" ng-if="editing">
        <span flex></span>
        <md-button ng-click="cancel()" >
            Cancel
        </md-button>
        <md-button ng-click="submitEditThingForm()" style="margin-right:20px;" >
            Submit
        </md-button>
    </md-dialog-actions>
</md-dialog>